<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @list.photo.attached? ? cl_image_path(@list.photo.key) : asset_path('list_background.jpg') %>);">
  <div class="container">
    <h1 class="text-center"><%= @list.name %> List</h1>
  </div>
</div>

<div class="d-flex justify-content-between">
  <h1>My List</h1>
</div>
<%= render @list %>

<br>

<% @list.bookmarks.each do |bookmark| %>
  <div class="card-trip">
    <img src="<%= bookmark.movie.poster_url %>" />
    <div class="card-trip-infos">
      <div>
        <h2><%= bookmark.movie.title %></h2>
        <p><%= bookmark.movie.overview %></p>
        <% if @list.bookmarks.empty? %>
          <p><i class="fa-solid fa-quote-left"></i> This list is currently empty 😢</p>
        <% else %>
        <div>
        <p><i class="fa-solid fa-quote-left"> <%= bookmark.comment %></i></p>
        <p><%= link_to 'Remove review', bookmark_path(bookmark), data: { turbo_method: 'DELETE', turbo_confirm: 'Are you sure?' }, class: "btn btn-danger" %></p>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= link_to "Back to Lists", lists_path, class: "btn btn-success" %>
